In [7]:
import os
import pandas as pd

In [8]:
taz = pd.read_csv("TAZ.csv")

In [9]:
taz.drop(columns="Unnamed: 0", inplace=True)

In [33]:
taz['speaker'] = taz.speaker.str.lower()
taz['lines'] = taz.lines.str.lower()
taz = taz.dropna(0, 'any')

In [62]:
for ep in taz.episode.unique():
    single = taz[taz.episode == ep]
    line_number = single[single.speaker.str.contains("theme") & (single.line_num < 50)].line_num.values
    if line_number.size == 0:
        print(f"skip: {ep}")
        continue
    line_number = max(line_number) + 1
    index_to_drop = taz[(taz.episode == ep) & (taz.line_num < line_number)].index
    taz.drop(index=index_to_drop, inplace=True)

skip: 19
skip: 20
skip: 23
skip: 24
skip: 25
skip: 26
skip: 27
skip: 29
skip: 30
skip: 47
skip: 53
skip: 59
skip: 61
skip: 62
skip: 63
skip: 64
skip: 65
skip: 66
skip: 69
skip: 90
skip: 93
skip: 96
skip: 2016
skip: 2017
skip: Candlenights in Tacoma Live Show
skip: Live in Austin!
skip: Live in San Francisco!
skip: MaxFunCon East Live
skip: The Adventure Zone Presents: The Great Switcheroo
skip: The The Adventure Zone Zone: Balance Finale Edition
skip: The The Adventure Zone Zone: Experiments Post-Mortem

In [63]:
taz.head()

,line_num,episode,speaker,lines
10,10,1,{0,41}
11,11,1,griffin,"so, well, let’s talk about the classes we’re ..."
12,12,1,travis,we’re gonna get just demolished.
13,13,1,griffin,"yeah, you’re gonna get wrecked. i’ll be dunge..."
14,14,1,justin,[quietly] tell that to nirvana.

In [28]:
taz[taz.speaker.str.contains("theme|THEME|Theme") & (taz.line_num < 50)].episode.tolist()

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '20',
 '21',
 '22',
 '22',
 '23',
 '24',
 '25',
 '26',
 '28',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '46',
 '47',
 '48',
 '48',
 '49',
 '50',
 '51',
 '52',
 '52',
 '54',
 '54',
 '55',
 '56',
 '57',
 '58',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '67',
 '68',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '91',
 '92',
 '93',
 '94',
 '95',
 '2016',
 '2017',
 'Dallas Live Show',
 'Live Boston Stunt Spectacular',
 'Nashville Live Show',
 'SDCC San Diego Live Show',
 'The Adventure Zone Presents: The Great Switcheroo',
 'The The Adventure Zone Zone: Balance Finale Edition']